<h1>Congratulations!</h1>
<h2> You have been made a member of Clique </h2>
<p>
  As a member, you can post and sell your your items on our website. We hope you are successful! Enjoy your membership!
</p>
