<div class="well">  
           <h4>This Month's Clique</h4><hr>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <a href="#">Item For Men</a><br>
    </div>
    <div class="panel-body">
      <a href="#">Item For Women</a><br>
    </div>
    <div class="panel-body">
      <a href="#">Lookbook</a><br>
    </div>
    <div class="panel-body">
      <a href="#">Blog</a><br>
    </div>
  </div>
  
  
   </div>
      