<div class="well">  
           <h4>This Month's Clique</h4><hr>
            <a  class="active in" data-toggle="collapse" href="#group1" aria-expanded="false" aria-controls="collapseExample">
              Women
            </a><br>
            <div class="collapse" id="group1">
                <ul>
                  <p><a href="#">Outerwear</a></p>
                  <p><a href="#">Jackets</a></p>
                  <p><a href="#">Dresses</a></p>
                  <p><a href="#">Jumpsuits</a></p>
                  <p><a href="#">Tops</a></p>
                  <p><a href="#">Pants</a></p>
                  <p><a href="#">Jeans</a></p>
                  <p><a href="#">Skirts</a></p>
                  <p><a href="#">T-Shits</a></p>
                  <p><a href="#">Sweatshirts</a></p>
                  <p><a href="#">Shoes</a></p>
                  <p><a href="#">Handbags</a></p>
                  <p><a href="#">Accessories</a></p>
                  <p><a href="#">Sale</a></p>
                  
                </ul>
            </div>
            <a  data-toggle="collapse" href="#group2" aria-expanded="false" aria-controls="collapseExample">
              Men
            </a><br>
            <div class="collapse" id="group2">
                <ul>
                  <p><a href="#">Element</a></p>
                  <p><a href="#">Element</a></p>
                  <p><a href="#">Element</a></p>
                  <p><a href="#">Element</a></p>
                  <p><a href="#">Element</a></p>
                  
                </ul>
            </div>
            <a href="#">LookBook</a><br>
            <a href="#">Blog</a>
   </div>
      