<div class="well">  
           <h4>This Month's Clique</h4><hr>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to "Women", pages_women_path %><br>
    </div>
    <div class="panel-body">
      <%= link_to "Men", pages_men_path %><br>
    </div>
    <div class="panel-body">
      <%= link_to "Lookbook", pages_lookbook_path %><br>
    </div>

  </div>
  
  
   </div>
      