
<div class="grid">
        <% @users.each do |user| %>

              <figure class="effect-bubba">
                
                <%= link_to  image_tag(user.image.url(:wide)), user%> 
                <figcaption>
                  <h2><span><%= user.name %> </span></h2>
                  <%= link_to "View this Store", user %>
                </figcaption>
                		
              </figure>
           
       <% end %>

</div>



