.navbar-default{
  background: white;
  
}
.navbar a{
  color: black;
}

.img-responsive {
    margin: 0 auto;
}

.collapse navbar-collapse{
  text-align:center;
}

.navbar .navbar-nav {

  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.well{
  background: white;
  border-color: black;
  border-width: 1px;
}
.carousel-caption h1{
  font-size:100px;
}

.mimage img:hover{
  color:white;
}

.carousel-caption a{
  color: white !important;
  text-decoration:none;
}

.carousel-caption{

  position:absolute; top:50%; height:10em; margin-top:-5em
}